@font-face {
  font-family: "iconfont"; /* Project id 5064083 */
  src: url('iconfont.woff2?t=1762950010288') format('woff2'),
       url('iconfont.woff?t=1762950010288') format('woff'),
       url('iconfont.ttf?t=1762950010288') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianlei_weizhiwenjian:before {
  content: "\e654";
}

.icon-excel:before {
  content: "\e617";
}

.icon-pdf:before {
  content: "\e621";
}

.icon-mp:before {
  content: "\e6c2";
}

.icon-ppt:before {
  content: "\e6c3";
}

.icon-yasuobao:before {
  content: "\e61c";
}

.icon-word:before {
  content: "\e805";
}

.icon-wenjianjia:before {
  content: "\e80c";
}

.icon-mp4:before {
  content: "\e6bf";
}

.icon-txt:before {
  content: "\e852";
}

.icon-jpg:before {
  content: "\e6ab";
}

